.App {
  text-align: center;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
}

.global {
  height: 100vh;
}

.recherche {
  width: 100%;
}

.recherche input {
  width: 100%;
  height: 4vh;
  background-color: #0000006e;
  border: none;
  font-size: 1.1rem;
  border-radius: 4px;
}

::placeholder {
  color: white;
}

.haut {
  width: 100%;
  background-color: #0000006e;
  margin-bottom: 0.5rem;
}

.localisation p {
  padding-top: 0.2rem;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 0;
}

.localisation h3 {
  margin-top: 0;
}

.desc p {
  margin-bottom: 0;
}

.desc p:last-child {
  padding-bottom: 0.5rem;
  margin-top: 0;
}

.bas {
  width: 100%;
  background-color: #0000006e;
  margin-bottom: 0.5rem;
  display: block;
  height: 34vh;
}

.previsions {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
}

.groupe {
  background-color: white;
  border-radius: 5px;
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.groupe h4 {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.groupe p {
  margin-top: 0.2rem;
}

.humidite {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  justify-content: space-around;
  background-color: white;
  margin-top: 0.5rem;
}

.humidite h4,
.humidite p {
  font-size: 1.3rem;
}

.etat {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  justify-content: space-around;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.etat h4,
.etat p {
  font-size: 1.3rem;
}





















/*-----------------------------------------------------------------------------------------*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
